
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #E0D5B9;
}

.layerbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e2e1e1;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  width: 190px;
  height: 25px;
}

.layerbutton button, 
.layerbutton div {
  width: 100%;
  height: 100%;
  line-height: 25px;   /* vertically center text */
  text-align: center;  /* center text horizontally */
  background: white;
  border: none;
  cursor: pointer;
}

